/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/poppins-v20-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue-v10-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/bebas-neue-v10-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html {
  height: 100%;
  scroll-behavior: smooth;
}


*/
img, picture, video, svg {
  display: block;
  max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
::selection {
  background-color: black;
  color: #fff;
}

body{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

.top-btn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 15px;
  width: 60px;
  height: 50px;
  background-color: #013FFF;
  border: 0;
  z-index: 20;
  cursor: pointer;
  border-radius: 5px;
  
}



.btn-display {
  display: block;
}



/*! HEADER STYLE START  */

.site-header {
  margin-bottom: 40px;
  padding: 14px 0;
  background-color: #013FFF;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.site-header__wrapper-start {
  display: flex;
  align-items: center;
}

.site-header__log-link {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  line-height: 20px;
  
}

.site-header__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 0 78px;
  list-style: none;
}

.site-header__link {
  text-decoration: none;
  color: #E6E6E6;
  line-height: 20px;
  font-size: 20px;
  
}
.site-header__link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.site-header__item:not(:last-child) {
  margin-right: 70px;
}

.site-header__wrapper-end {
  display: flex;
  align-items: center;
  
}

.select-box {
  margin-right: 30px;
}

.select-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
}

.select-link:hover {
  border-bottom: 2px solid #fff;
}
.site-header__icon-link {
  
  padding: 12px 12px 8px 12px;
  background-color: #4D79FE;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  
}

.site-header__icon-link:hover {
  border: 2px solid #fff;
}
.site-header__line {
  width: 1px;
  height: 20px;
  background-color: #4D79FE;
  margin: 0 16px;
  
}
.site-header__tel {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.1px;
  padding: 10px 40px;
  background-color: #4D79FE;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  
  
}

.site-header__tel:hover {
  border: 2px solid #fff;
}

/*! HEADER RESPPONSIVE START */
@media only screen and (max-width: 1150px) {
  
  
  
  .site-header__log-link {
    text-align: center;
  }
  
  .site-header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
  }  
  
  .site-header__nav {
    display: none;
  }
  
  .site-header__wrapper-end {
    display: none;
  }
}


/* !BURGER STYLE EDIT */

/* ?BURGER BTN STYLE START  */
.burger-icon {
  display: none;
}


.burger-label{
  display:flex;
  flex-direction:column;
  width:60px;
  cursor:pointer;
}


.burger-label  .burger-span{
  background: #fff;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
}


.burger-span:nth-of-type(1){
  width:50%;
  
}

.burger-span:nth-of-type(2){
  width:100%;
}


.burger-span:nth-of-type(3){
  width:75%;
  
}


.burger-input[type="checkbox"]{
  display:none;
}


.burger-input[type="checkbox"]:checked ~ .burger-span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}


.burger-input[type="checkbox"]:checked ~ .burger-span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


.burger-input[type="checkbox"]:checked ~ .burger-span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);
  
}

@media only screen and (max-width: 1150px) {
  .burger-icon{
    display: block;
  }
}


/* ?BURGER BTN STYLE END  */

.burger-none {
  display: none;
  
}
@media only screen and (max-width: 1150px) {
  
  
  .burger-none {
    display: block;
    animation: slideUp 0.6s;
    transform: translateY(-80%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #013FFF;
    padding: 20px 35px;
  }
  
  .burger-wrapper {
    position: fixed;
    top: 18%;
    left: 0;
    width: 100%;
    z-index: 50;
    animation: slideDown 0.6s;
    background-color: #013FFF;
    padding: 20px 35px;
  }
  
  
  
  
  
  .burger-list {
    list-style:none;
    margin: 0 0 15px 0;
    padding: 0;
    
  }
  
  .burger-telegram-box {
    display: flex;
    margin-top: 15px;
  }
  
  .burger-link {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    display: block;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
}

/* ************************************************ */

/*! MAIN STYLE START  */

/*! HERO SECTION STYLE START */

.hero-section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 120px;
}


.hero-section__img {
  margin-bottom: 40px;
}

.hero-section__text {
  margin-bottom: 40px;
}

.hero-section__text2 {
  display: none;
}

/*! HERO SECTION ADAPTIVE STYLE START */

@media only screen and (max-width: 1150px) {
  
  .hero-section {
    padding-top: 115px;
  }
  .hero-section__img {
    width:  720px;
    height: 540px;
    object-fit: cover;
    border-radius: 24px;
  }
  
  .hero-section__text {
    width: 720px;
    height: 64px;
  }
  
  
}


@media only screen and (max-width: 750px) {
  .hero-section__img {
    width:  320px;
    height: 380px;
    object-fit: cover;
    border-radius: 24px;
  }
  
  .hero-section__text {
    display: none;
  }
  
  .hero-section__text2 {
    display: block;
    padding-bottom: 40px;
  }
  
}

/*! SERVICE SECTION START  */

.services-section__maintitle {
  font-size: 32px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 32px;
}

.services-section__list {
  display: flex;
  
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-section__item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.services-section__imgbox {
  width: 426px;
  height: 320px;
  background-color: #F2F2F2;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-section__img {
  border-radius: 24px;
  
}

.services-section__textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0;
  width: fit-content;
}

.services-section__title {
  font-family: "Bebas Neue";
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  width: fit-content;
  margin-bottom: 78px;
}


/* ? SERVICE SECTION ADAPTIVE STYLE START */
@media only screen and (max-width: 1150px) {
  
  .services-section__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  
  .services-section__item {
    display: flex;
    flex-direction: column;
  }
  
  .services-section__textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-top: none;
  }
  
}

@media only screen and (max-width: 750px) {
  .services-section__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  
  
}

@media only screen and (max-width: 460px) {
.services-section__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .services-section__imgbox {
    width: 300px;
    height: 320px;
    background-color: #F2F2F2;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services-section__img {
    width: 260px;
    height: 180px;
    
  }
}

/*! Team section start  */

/* !SWIPER */
.swiper {
  width: 900px;
  height: 350px;
  padding: 25px 0;
}

.team-section {
  margin-bottom: 108px;
}

.team-section__teambox {
  background-color: #F2F2F2;
  border-radius: 24px;
  padding: 40px;
}

.team-section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
  
}
.team-section__title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #013FFF;
}

.team-section__inwrapper {
  display: flex;
  align-items: center;
}




.team-section__left-arrow {
  width: 80px;
  height: 80px;
  padding: 29px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 12px;
  color: #999999;
  transition: 0.3s ease;
  
}

.team-section__left-arrow:hover{
  background-color: #013FFF;
  color: #fff;
  
}

.team-section__right-arrow {
  width: 80px;
  height: 80px;
  padding: 29px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(180deg);
  color: #999999;
  transition: 0.3s ease;
  
}

.team-section__right-arrow:hover{
  background-color: #013FFF;
  color: #fff;
  
  
}

.swiper__list {
  list-style: none;
  padding: 0;
  
}



/*?TEAM SECTION ADAPTIVE STYLE START */
@media only screen and (max-width: 1150px) {
  
  .swiper {
    width:  400px;
    height: 350px;
  }
  .team-section__img {
    width: 300px;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .team-section__item:nth-child(2) {
    margin: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .swiper{ 
    width: 400px;
    height: 350px;
  }
  
  .swiper-slide{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .swiper {
    width: 300px;
    height: 350px;
  }
  
  
}

@media only screen and (max-width: 530px) {
  .swiper {
    width: 200px;
    height: 380px;
  }
  
  .team-section__title {
    font-size: 40px;
  }
  
  
  
}
/* !ABOUT US SECTION STYLE START */

.aboutus-section {
  margin-bottom: 160px;
}

.aboutus-section__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}



.aboutus__title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #013FFF;
}

.aboutus__info {
  font-size: 16px;
  line-height: 24px;
}

/* ?ABOUT US SECTION ADAPTIVE STYLE START */
@media only screen and (max-width:1150px) {
  .aboutus-section__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .aboutus__img {
    margin: 20px 0;
  }
}

@media only screen and (max-width:750px) {
  .aboutus-section {
    margin-bottom: 50px;
  }
  
  .aboutus__img {
    width: 450px;
    height: 300px;
  }
}

@media only screen and (max-width:470px) {
  .aboutus__img {
    width: 250px;
    height: 150px;
  }

  .aboutus__title {
    font-size: 50px;
  }
}
/*! CONTACT SECTION STYLE START */

.contact-section {
  margin-bottom: 80px;
}


.contact-form__end {
  background: linear-gradient(#013FFF, #EBEBEB);
  padding: 40px;
  border-radius: 24px;
  
}

.contact-form__box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contact-title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #fff;
  
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contact-inputname {
  border-radius: 12px;
  outline: none;
  border: 2px solid transparent;
  padding: 12px;
  
}

.contact-inputname:focus {
  border: 2px solid #013FFF ;
}


.contact-inputemail {
  border-radius: 12px;
  outline: none;
  border: 2px solid transparent;
  margin: 12px 0;
  padding: 12px;
}

.contact-inputemail:focus {
  border: 2px solid #013FFF;
}

.contact-inputtext {
  border-radius: 12px;
  outline: none;
  border: 2px solid transparent;
  margin-bottom: 12px;
  padding: 12px;
}

.contact-inputtext:focus {
  border: 2px solid #013FFF ;
}

.contact-inputbtn {
  font-size: 20px;
  
  border-radius: 12px;
  outline: none;
  border: none;
  padding: 12px;
  color: #fff;
  background-color: #013FFF;
  cursor: pointer;
}

.contact-inputbtn:active {
  opacity: 0.7;
}

/*? CONTACT SECTION ADAPTIVE STYLE START */

@media only screen and (max-width: 1150px) {
  .contact-form__box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
  }
  
  .contact-section__img {
    margin-bottom: 50px;
  }
  
  .contact-form {
    width: 100%;
  }
  
}

@media only screen and (max-width: 600px) {
  .contact-section__img {
    width: 360px;
    height: 329px;
  }
}

@media only screen and (max-width: 420px) {
  .contact-section__img {
    width: 260px;
    height: 229px;
  }

  .contact-title {
    font-size: 50px;
  }
}

/* !FOOTER STYLE START */

.site-footer{
  margin-bottom: 40px;
}

.site-footer__title-link {
  font-weight: 700;
  text-decoration: none;
  color: #013FFF;
  font-size: 20px;
  line-height: 20px;
}

.site-footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}

.site-footer__addressbox {
  display: flex;
  align-items: center;
}

.site-footer__address {
  font-style: normal;
  color: #666666;
  padding: 8px 16px;
  background-color: #F2F2F2;
  border-radius: 12px;
}

.site-footer__tellink {
  text-decoration: none;
  color: #666666;
  background-color: #F2F2F2;
  border-radius: 12px;
  margin: 0 20px;
  padding: 8px 16px;
  
}

.site-footer__emaillink {
  text-decoration: none;
  color: #666666;
  padding: 8px 16px;
  background-color: #F2F2F2;
  border-radius: 12px;
}

.site-footer__list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.site-footer__item {
  background-color: #013FFF;
  border-radius: 50%;
  margin-right: 20px;
  padding: 15px 10px;
}
.site-footer__link {
  padding: 15px 10px;
  
}

.copyright {
  text-align: center;
  margin-top: 10px;
}

/*? FOOTER SECTION ADAPTIVE STYLE START */

@media only screen and (max-width: 1150px) {
  .site-footer-box {
    display: flex;
    flex-direction: column;
  }
  
  .site-footer__addressbox {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }
}
