/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/poppins-v20-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue-v10-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/bebas-neue-v10-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html {
  height: 100%;
}


*/
img, picture, video, svg {
  display: block;
  max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* VARIABLES */
:root{
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}


body{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  background-color: #fff;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

/*! HEADER STYLE START  */

.site-header {
  margin-bottom: 40px;
  padding: 14px 0;
  background-color: #013FFF;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.site-header__wrapper-start {
  display: flex;
  align-items: center;
}

.site-header__log-link {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  
}

.site-header__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 0 78px;
  list-style: none;
}

.site-header__link {
  text-decoration: none;
  color: #E6E6E6;
  line-height: 20px;
  font-size: 16px;
  
}
.site-header__link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.site-header__item:not(:last-child) {
  margin-right: 70px;
}

.site-header__wrapper-end {
  display: flex;
  align-items: center;
  
}
.site-header__icon-link {
  
  padding: 12px 12px 8px 12px;
  background-color: #4D79FE;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  
}

.site-header__icon-link:hover {
  border: 2px solid #fff;
}
.site-header__line {
  width: 1px;
  height: 20px;
  background-color: #4D79FE;
  margin: 0 16px;
  
}
.site-header__tel {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.1px;
  padding: 10px 40px;
  background-color: #4D79FE;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  
  
}

.site-header__tel:hover {
  border: 2px solid #fff;
}

/* ************************************************ */

/*! MAIN STYLE START  */

/*! HERO SECTION STYLE START */

.hero-section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.hero-section__img {
  margin-bottom: 40px;
}

